# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Reading External Data
***
Resource: https://raw.githubusercontent.com/mediatechid/bootcamp-data-analyst/main/zomato_resto_file1.json

In [2]:
zomato_resto = pd.read_json('https://raw.githubusercontent.com/mediatechid/bootcamp-data-analyst/main/zomato_resto_file1.json')

In [3]:
zomato_resto

,results_found,restaurants,results_shown,results_start,message,code,status
0,17151.0,"[{'restaurant': {'has_online_delivery': 1, 'ph...",20.0,1.0,NaN,NaN,NaN
1,4748.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN
2,13786.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN
3,10224.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN
4,7039.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
474,NaN,NaN,NaN,NaN,API limit exceeded,440.0,
475,NaN,NaN,NaN,NaN,API limit exceeded,440.0,
476,NaN,NaN,NaN,NaN,API limit exceeded,440.0,
477,NaN,NaN,NaN,NaN,API limit exceeded,440.0,
478,NaN,NaN,NaN,NaN,API limit exceeded,440.0,

In [4]:
zomato_resto_copy = zomato_resto.copy()

# Preprocessing

## Remove Data With NaN Values

In [41]:
zomato_resto_copy.dropna(subset='restaurants',inplace=True)
zomato_resto_copy.reset_index(drop=True, inplace=True)

# Jawaban

## Soal Nomor 2
***
**Hints**: Pelajari struktur data dari kolom restaurants untuk bisa mengekstrak nama restauran

In [43]:
# tampilkan seluruh nama restaurant dari data tersebut
def extract_json_restaurants_information(data):
    if len(data)!=0:
        restaurant_information = data[0]['restaurant']
        restaurant_name = restaurant_information['name']
        return restaurant_name
    else:
        return np.nan

zomato_resto_copy['restaurants'] = zomato_resto_copy['restaurants'].apply(extract_json_restaurants_information)

In [47]:
for restoran in zomato_resto_copy['restaurants'].unique():
    print(restoran)

Hauz Khas Social
Spice Kraft
Farzi Cafe
Flechazo
AB's - Absolute Barbecues
Coal Barbecues
Vintage Machine
Cafe 17
Blackout
Mocha
OvenFresh
Britto's Bar & Restaurant
nan
Al Arabian Express
Barbeque Nation
Makhan Fish and Chicken Corner
Upper Crust
The Tamarind Tree
Kream N Krunch
10 Downing Street
Prana
The Square - Hotel Novotel
Eram Rooftop
Batlivala & Khanabhoy
Machali
Tomato's
Jahanpanah
Empire Restaurant
Baker Street
Level 5 - Terrace Restro & Cafe
Baati Chokha
Swaaddesh
Grand Barbeque Buffet Restaurant
Artistry
Rajasthan Al Malaki
Famous Dave's Barbecue
The Sizzle
BayramoÄŸlu DÃ¶ner
Ã‡ukuraÄŸa SofrasÄ±
Dishoom
Roti & Boti
Izakaya Kikufuji
Jarryds
Jamie's Italian
Coco Bambu
Templo da Carne - Marcos Bassi
Santos
Tipu Sultan
Eight - The Langham Hotel
Loretta
The Golconda Bowl - hilton
AprazÃ­vel
Fish Streat
Old Town Italy
Loudons Cafe & Bakery